.header ul {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  margin: 0;
  padding: 0;
  text-decoration-style: none;
  display: flex;
  justify-content: end;
  min-width: 120px;
}

.header ul li {
  line-height: 40px;
  display: inline-block;
}

.header ul li:hover {
  background-image: linear-gradient(135deg, #c17aec69 20%, #e686526b 70%);
  border-radius: 50px;
}

.mainContainer {
  background: url("../images/Cappadocia-Turkey.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;

}
.container {
  text-align: left;
  width: 100%;
  height: auto;
}

.link {
  position: relative;
  margin: 0 20px;
  color: #873e23;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

.body {
  margin: auto;
  font-size: 18px;
  font-family: serif;
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  text-align: center;
  color: #206475;
  text-shadow: 2px 5px 10px rgba(228, 225, 36, 0.7);
}

button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
  font-family: serif;
  font-size: large;
}

button:hover {
  background-image: linear-gradient(135deg, #c17aec69 20%, #e686526b 70%);
}

.form {
  max-width: 700px;
  background-image: linear-gradient(135deg, #c17aec69 20%, #e686526b 70%);
  padding: 0 30px;
  margin: auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #305a72;

  height: 100%;
}

.form ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form ul li {
  display: block;
  min-height: 10px;
  font-family: serif;
  padding: 5px;
  font-size: large;
  font-weight: bold;
  color: rgb(71, 20, 71);
}

.form ul li .input {
  box-sizing: border-box;
  padding: 5px;
  outline: none;
  border: 1px solid #b0cfe0;
  width: 100%;
  font-size: large;
  font-family: serif;
  background: #f0e9e9;
}

.inputTextarea {
  box-sizing: border-box;
  padding: 5px;
  outline: none;
  border: 1px solid #b0cfe0;
  width: 100%;
  height: 150px;
  background: #f0e9e9;
}

.form ul li .input:focus {
  box-shadow: 0 0 5px #b0cfe0;
  border: 1px solid #b0cfe0;
}

.select {
  padding: 5px;
  outline: none;
  width: 100%;
  box-shadow: 0 0 5px #b0cfe0;
  border: 1px solid #b0cfe0;
}

.validation {
  color: red;
}
