.container {
  padding: 0 40px 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;

  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(43, 207, 43, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

h2 {
  margin-bottom: 3%;
  font-family: 'Charm';
  font-size: 4em;
  text-align: center;
  color: #206475;
  text-shadow: 2px 5px 10px rgba(228, 225, 36, 0.7);
}

.main {
  min-width: 70vh;
  min-height: 70vh;
  overflow: hidden;
  background: rgb(201, 184, 184);
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

.register {
  position: relative;
  width: 100%;
  height: 100%;
}

.button {
  width: 40%;
  height: 60%;
  color: #fff;
  background: #573b8a;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
}
.footer {
  display: flex;
  justify-content: center;
  font-size: 1em;
  padding-bottom: 2em;
  
}

.link , p{
  
  font-size: 1.2em;
  padding: 0 .5em;
  text-decoration: none;
 
  
}

.link:hover {
  color: white;
}
